
<div class="container">

<h2>Compose query</h2>

<form>
  <div class="form-group">
    <label for="words">Middle English word(s)</label>

    {{#power-select-multiple
      id="words"
      aria-describedby="wordsHelp"
      placeholder="Enter words."
      selected=words
      selectedItemComponent="selected-item-word"
      onchange=(action (mut words))
      search=(action "completeWord")
      searchField="none"
      as |entry|
    }}
      <strong>{{entry._match}}</strong> {{entry.definition}}
    {{/power-select-multiple}}

    <small id="wordsHelp" class="form-text text-muted">Match words in a line of text. May enter more than one.</small>
  </div>

  <div class="form-group">
    <label for="lemmas"><em>Middle English Dictionary</em> headword(s)</label>

    {{#power-select-multiple
      id="lemmas"
      aria-describedby="lemmasHelp"
      placeholder="Enter headwords."
      selected=lemmas
      selectedItemComponent="selected-item-lemma"
      onchange=(action (mut lemmas))
      search=(action "completeLemma")
      searchField="none"
      as |entry|
    }}
    <strong>{{entry.tag_lemma}}</strong> [{{entry.word}}] - {{entry.definition}}
  {{/power-select-multiple}}

    <small id="lemmasHelp" class="form-text text-muted">Match headwords of a line of text. May enter more than one.</small>
  </div>

  <div class="form-group">
    <label for="restrict">Restrict to location (to author, text, or part of text)</label>
    {{#power-select
      id="restrict"
      aria-describedby="restrictHelp"
      options=restrictData
      selected=restrict
      onchange=(action (mut restrict))
      searchField="label"
      placeholder="Select text"
      allowClear=true
      as |entry|
    }}
      {{entry.label}}
    {{/power-select}}
    <small id="restrictHelp" class="form-text text-muted">Only match lines of text in selected locations.</small>
  </div>

  <div class="form-check form-check-inline">
    {{input class="form-check-input" type="checkbox" id="allWords" checked=requireAllWords}}
    <label class="form-check-label" for="allWords">
      All words and headwords must be present in a line.
    </label>
  </div>

  <div class="form-check form-check-inline mb-2">
    {{input class="form-check-input" type="checkbox" id="sort" checked=sortLogical}}
    <label class="form-check-label" for="sort">
      Sort results by location instead of relevance.
    </label>
  </div>

  <div>
    <button {{action "clearQuery"}} type="submit" class="btn btn-primary">Clear</button>
    <button {{action "executeQuery"}} type="submit" class="btn btn-primary">Search</button>
  </div>
</form>

{{#if result}}
  {{#if result.hits.total}}
    <h3 class="text-center">Matches {{pageFirstMatchNumber}}-{{pageLastMatchNumber}} of total {{result.hits.total}}</h3>

    <div class="container">
    {{models-table
      data=result.hits.hits
      columns=resultColumns
      showComponentFooter=false
      showColumnsDropdown=true
      useFilteringByColumns=false
      showGlobalFilter=false
      themeInstance=resultTheme
      pageSize=pageSize
    }}

    <nav aria-label="...">
      <ul class="pagination justify-content-center">
        <li class="page-item active">
          <a {{action "prevPage"}} class="page-link">Previous</a>
        </li>
        <li class="page-item">
          <a class="page-link">Page {{pageNumber}} of {{pageCount}}</a>
        </li>
        <li class="page-item active">
          <a {{action "nextPage"}} class="page-link">Next</a>
        </li>
      </ul>
    </nav>
  </div>
  {{else}}
    <h3 class="text-center">No matches</h3>
  {{/if}}
{{/if}}

</div>
