
<div class="container">

<h2>Compose query</h2>

<form>
  <div class="form-group">
    <label for="words">Words</label>
    {{input value=words key-press="completeWords" id="words" class="form-control" aria-describedby="wordsHelp" placeholder="Enter words"}}
    <small id="wordsHelp" class="form-text text-muted">Enter words</small>
  </div>

  <div class="form-group">
    <label for="lemmas">Lemmas</label>
   {{input value=lemmas key-press="completeLemmas" id="lemmas" class="form-control" aria-describedby="lemmasHelp" placeholder="Enter lemmas"}}
    <small id="lemmasHelp" class="form-text text-muted">Enter lemmas</small>
  </div>

  <div class="form-group">
    <label for="restrict">Restrict to text</label>
    {{#power-select
      id="restrict"
      aria-describedby="restrictHelp"
      options=model.texts
      selected=restrict
      onchange=(action (mut restrict))
      searchField="label"
      placeholder="Select text"
      as |entry|
    }}
      <span>{{entry.label}}</span>
    {{/power-select}}
    <small id="restrictHelp" class="form-text text-muted">Select text</small>
  </div>


  <button {{action "executeSearch"}} type="submit" class="btn btn-primary">Search</button>
</form>




{{#if result}}
  <h2>Results</h2>

  <p>
    Total: {{result.hits.total}}
  </p>

  <table>

  {{#each result.hits.hits as |hit|}}
  <tr>
    <td> {{hit._source.group}}</td>
    <td> {{hit._source.id}}</td>
    <td> {{hit._source.raw_number}}</td>
    <td> {{hit._source.text}}</td>
    <td> {{hit._source.tag_lemma_text}}</td>
  </tr>
  {{/each}}

  </table>
{{/if}}

</div>
